<section class="usa-banner" aria-label="Test site">
  <header class="usa-banner__header secondary">
    <div class="usa-banner__inner">
      <div class="grid-col-fill tablet:grid-col-auto">
        <p class="usa-banner__header-text">TEST SITE - Do not use any real information (demo purposes only) - TEST SITE</p>
      </div>
    </div>
  </header>
</section>
