<footer class="usa-footer usa-footer--slim" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <div class="grid-row flex-align-center">
      <div class="grid-col flex-1">
        <a href="#">Return to top</a>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <%= image_tag identity_asset_path('img/gsa-logo-rev.svg'), class: 'usa-footer__logo-img usa-footer__slim usa-footer__medium', alt: 'U.S. General Services Administration logo' %>
        </div>
        <div class="grid-col-auto">
          <h3 class="usa-footer__logo-heading">U.S. General Services Administration</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
